/public/
/public/js/
/node_modules
/public/hot
/public/storage
/public/css/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
!/.env
/.env
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
!/public/mix-manifest.json
!/public/fonts/
!/public/images*
!/public/images/themes/
!public/[0-9]*.js
!public/js/[0-9]*.js
!public/vendors~polyfills-core-js.js
!public/vendors~polyfills-dom.js
!/public/js/app.js
!/public/css/app.css
!public/js/resources*
!public/js/node_modules*
!public/css/vue-components.css
!public/js/manifest.js
!public/js/vendor.js
!public/vendors~/
!public/js/vendor.js.LICENSE.txt
!public/fonts/style.css
!public/adminer-4.8.1.php
!public/images
!public/themes*
!/public/fonts*
!/public/layout*
!/phpunit.xml.bak
!/public/
